h1 {
    display: flex;
    justify-content: center;
}

body {
    background-image: url(assets/images/arbre.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, sans-serif;
    color: #fcfcfc;
}

form {
    padding: 20px;
    background-color: #ffffff57;
    width: 60%;
    height: 100%;
    margin: 50px auto;
    text-align: center;
    color: #f6f9fc;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 0;
    position: relative;
    background: none;
}

input, .select {
    margin-bottom: 15px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;  
    background-color: #0c0453a0;
    color: rgb(130, 177, 199);
}

form::before {
  content: "";
  position: absolute;
  inset: 0; 
  background-color: rgba(3, 41, 74, 0.5);
  border-radius: 10px;
  z-index: -1; 
}

button {
    background-color: #042e5f;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

button:hover {
    background-color: #044795;
}



