body {  
    font-family: Arial, sans-serif;  
    background-image: url(assets/images/aurore-boreale.webp);  
    background-size: cover;  
    background-repeat: no-repeat;  
    color: #f9f8f8; 
    height: 100vh; 
}

h1 {
    text-align: center;
    margin-top: 30px;
    text-shadow: 2px 2px 4px #000000;
    font-size: 50px;
}

form {
    padding: 20px;
    background-color: rgba(43, 41, 41, 0.547);
    border-radius: 10px;
    width: 300px;
    margin: 50px auto;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

label {
    display: flex;
    flex-direction: column;
}

.select, input {
    margin-bottom: 15px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;  
    background-color: #f9f8f800;
    color: rgb(130, 177, 199);
}    

button {
    background-color: #e74f8c;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

button:hover {
    background-color: #731037;
    width: 30%;
}